@import '../../shared/colors';

.table {
  margin: 0 62px;
  padding: 23px;
  border: 1px solid $secondary-color;
}

.title {
  font-weight: bold;
  margin: 0 60px;
  padding: 23px;
}

.button {
  background-color: $primary-color;
  width: 118px;
  height: 26px;
}
